<a href="https://colab.research.google.com/github/Latamila/USP_Ciencia_Computacao_Python/blob/main/Numeros_primos_Limite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def eh_primo(x):
  fator =  2
  if x == 2:
    return True

  while x % fator != 0 and fator <= x/2:
    fator = fator + 1
  if x % fator == 0:
    return False
  else:
    return True


limite = int(input('digite o limite máximo: '))

n = 2
while n < limite:
  if eh_primo(n):
    print(n, end=',')
  n= n+1

digite o limite máximo: 50
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

#NUMEROS PRIMOS QUADRADOS

In [7]:
primos_quadrados = []
n = 2
while n < limite:
  if eh_primo(n):
    primos_quadrados.append(n*n)
  n= n+1

print(primos_quadrados)

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

#Faça uma lista receber uma serie de números até que o usuário digite 0.

Depois imprima na tela, esta lista ao reverso(a ordem contraria ao que foi digitado).

In [30]:
data = []
n = 1
while n > 0:
  n = int(input('digite um numero: '))
  data.append(n)


print(list(reversed(data)))

digite um numero: 2
digite um numero: 3
digite um numero: 4
digite um numero: 5
digite um numero: 6
digite um numero: 0
[0, 6, 5, 4, 3, 2]

In [32]:
flores = ["margarida", "rosa", "tulipa", "cravo"]
tam = len(flores) - 1
while tam >= 0:
    print(flores[tam], end=", ")
    tam = tam - 1

cravo, tulipa, rosa, margarida,

In [33]:
x = 0
while x <= 2:
  print('para x igual a ', x)
  #varrer os valores de y, para cada valor de x
  y = 0
  while y <= 3:
    print('   (', x, ',', y, ')'   )
    y = y + 1

  x = x + 1

para x igual a  0
   ( 0 , 0 )
   ( 0 , 1 )
   ( 0 , 2 )
   ( 0 , 3 )
para x igual a  1
   ( 1 , 0 )
   ( 1 , 1 )
   ( 1 , 2 )
   ( 1 , 3 )
para x igual a  2
   ( 2 , 0 )
   ( 2 , 1 )
   ( 2 , 2 )
   ( 2 , 3 )

In [8]:
pares = range(0, 40, 2)

for i in pares: print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [9]:
numeros = range(100,0,-5)
for x in numeros: print(x)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

In [11]:
primos= []
n = 2
while n < limite:
  if eh_primo(n):
    primos.append(n)
  n= n+1

print(primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [13]:
cubos_primos = []
for i in range(len(primos)):
  cubos_primos.append(primos[i]**3)
print(cubos_primos)

[8, 27, 125, 343, 1331, 2197, 4913, 6859, 12167, 24389, 29791, 50653, 68921, 79507, 103823]

In [14]:
primos_quadrados

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

In [19]:
animais = ["gato", "cachorro", "papagaio", "arara", "jacaré"]
for x in range(len(animais)):
    print("--> ",animais[x])

-->  gato
-->  cachorro
-->  papagaio
-->  arara
-->  jacaré

In [20]:
for i in range(16,4,-3):
	print(i)

16
13
10
7

In [22]:
pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
for x in range(len(pares)):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [23]:
pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
for x in range(5, 10):
    print(pares[x])

12
14
16
18
20

In [24]:
for i in range(0, 50, 5):
	print(i)

0
5
10
15
20
25
30
35
40
45

In [25]:
pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
for x in range(len(pares)):
    print(pares[x])

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [27]:
valores = []
for i in range(1, 10):
    if i % 2 == 0:
        valores.append(i)
print(valores)

[2, 4, 6, 8]

In [29]:
valores = []
for i in range(0, 10, 2):
    valores.append(i)

print(valores)

[0, 2, 4, 6, 8]

In [31]:
valores = []
for i in range(1, 10):
    valores.append(i+1)

print(valores)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
valores = []
for i in range(2, 10, 2):
    valores.append(i)

print(valores)

[2, 4, 6, 8]

In [33]:
valores = []
for i in range(1, 10, 2):
    valores.append(i)

print(valores)

[1, 3, 5, 7, 9]

In [41]:
animais = ["gato", "cachorro", "papagaio",
"arara", "jacaré"]



animais[2] = "piriquito"


print(animais)

['gato', 'cachorro', 'piriquito', 'arara', 'jacaré']

In [43]:
animais = ["gato", "cachorro", "papagaio",
"arara", "jacaré"]
animais[1+1]= 'piriquito'
print(animais)

['gato', 'cachorro', 'piriquito', 'arara', 'jacaré']

In [44]:
animais = ["gato", "cachorro", "papagaio",
"arara", "jacaré"]
animais[-3]= 'piriquito'
print(animais)

['gato', 'cachorro', 'piriquito', 'arara', 'jacaré']

In [45]:
for x in range(len(animais)):
    print("--> ", x)

-->  0
-->  1
-->  2
-->  3
-->  4

In [46]:
for x in range(len(animais)):
    print("--> ", animais[x])

-->  gato
-->  cachorro
-->  piriquito
-->  arara
-->  jacaré